server:
  port: 8090

spring:
  jpa:
    properties:
      hibernate:
        temp:
          use_jdbc_metadata_defaults: false
    database-platform: org.hibernate.dialect.PostgreSQL9Dialect
  datasource:
    driver-class-name: org.postgresql.Driver
    url: ${DB_URL:jdbc:postgresql://localhost:5432/chat}
    username: ${DB_USERNAME:chatuser}
    password: ${DB_PASSWORD:qwerty12345}

  jackson:
    default-property-inclusion: non_null
